/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');

/* common styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: rgba(255, 144, 14, 0.1);
    padding-bottom: 45px;
}

/* nav styles */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul li {
    display: inline;
    margin-left: 15px;
}

/* banner styles */
.banner-container {
    display: grid;
    justify-items: center;
    align-items: center;
}

.banner-title {
    width: 862px;
    height: 225px;
    font-weight: 700;
    font-size: 64px;
}

.banner-description {
    font-weight: 400px;
    width: 862px;
    height: 52px;
    font-size: 16px;
    color: #727272;
    ;
}
.banner-img{
    /* width: 70%; */
}
.btn-primary {
    font-size: 20px;
    font-weight: 600px;
    color: #FFFFFF;
    background-color: #FF900E;
    border: 5px;
    padding: 20px 25px;
    width: 180px;
    height: 64px;
    margin-bottom: 20px;
}

/* team section styles */
.teams-container {
    display: flex;
    width: 70%;
    align-items: center;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-top: 45px;
    margin-left: 120px;
}

.team-text {
    margin-left: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 40px;
    margin-left: 130px;
}

/* service section styles */
.text-container {
    width: 40%;
}

.img-container {
    display: flex;
    flex-direction: column-reverse;
    width: 708px;
    height: 808px;
    background-image: url("/images/architect.png");
}

.btn-secondary {
    width: 342px;
    border: 2px solid;
    font-weight: 700;
    font-size: 40px;
    padding: 42px 45px;
    color: #FFFFFF;
    background-color: #FF900E;
}

/* facts section styles */
.fact {
    margin-left: 240px;
}

.facts-title {
    font-weight: 700;
    font-size: 45px;
}

.facts-description {
    font-weight: 700;
    font-size: 16px;
    color: #727272;
}
/* boxes styles */
.box-container{
    display: flex;
    justify-content: space-evenly;
}

/* sponsor styles */
.sponsor-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sponsor-img-container{
    display: flex;
    justify-content: space-evenly;
}
/* Extra Section */
.contact-container{
    margin-top: 40px;
    color: whitesmoke;
    background-color: black;
}
/* footer styles */
.law{
    color: #727272;
    background-color: bisque;
    text-align: center;
    padding: 30px 40px;
    width: 70%;
}
/* responsive styles */
@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
    }
    .banner-container{
        display: grid;
        justify-items: start;
        width: 100%;
    }
    .banner-title{
        height: 50px;
        width: auto;
        font-size: 20px;
    }
    .banner-description{
        width: 80vh;
    }
    .btn-primary{
        margin-top: 40px;
    }
    .banner-img img{
        width: 400px;
        height: auto;
    }
    .teams-container{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20px;
    }
    .team-img{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .text-container{
        padding-left: 50px;
    }
    .box-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 250px;
    }
    .sponsor-description{
        width: 80%;
    }
   .sponsor-img-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   }
   .contact-us{
    width: 70%;
   }
}